*
{
    margin: 0px;
    padding: 0px;
}
.main
{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 91%;
    height: 91%;
    margin: 10px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px 1px aqua;
}
#ed
{
    width: 50%;
    height: 98%;
    margin: 5px;
}

#screen
{
    width: 50%;
    height: 98%;
    margin: 5px;
}